# class files
*.docx
!Assignment 2.1pdf
*.pdf

# Django

__init__.py
asgi.py
wsgi.py
manage.py
*.log
*.pot
*.pyc
__pycache__/
settings.py
media
venv
*.exe
migrations
tests.py
*.sqlite3
*.sqlite
db.sqlite3

# py setting
.vscode/
settings.json

# img file
*.jpg
*.png
